<div class="container-fluid">
  <table class="table">
  	<% @events.each do |event| %>
    	<tr>
        <td><%= event.title %></td>
        <td><a href="<%="#{SLACK_PREFIX}/#{event.title}"%>">Slack Channel</a></td>
        <% unless event.spreadsheet_key.nil? %>
        <td><a href="https://docs.google.com/spreadsheets/d/<%=event.spreadsheet_key%>">Spreadsheet</a></td>
        <% end %>
        <% unless event.form_key.nil? %>
        <td><a href="https://docs.google.com/forms/d/<%=event.form_key%>">
        <% end %>
      </tr>
    <% end %>
  </dl>
</div>

